.vermelho{
    color: red;
    font-size: 50px;
}

.foto{
    height: 500px;
    width: 500px;
}
.foto2{
    height:300px;
    width: 300px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:url("./soldierboy.webp") ;
}
p{
    color: aliceblue;
}